#title{
    color: #EAD7D7;
    font-size: 10vh;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

::placeholder{
    color: #D0D0D0;
    font-family: 'Noto Sans JP', sans-serif;
}

#mainApp{
    width: 50vw;
    height: fit-content;
    position: relative;
    margin: auto;
    box-shadow: 0vh 1vh 2vh 2vh #E0E0E0;
}

#inputBoxWrapper{
    height: 6vh;
    width: 50vh;
}

#arrow{
    position: absolute;
    height: 3vh;
    width: 3vh;
    top: 1.5vh;
    left: 1.5vh;
    background-image: url('arrow.png');
    background-size: contain;
}

.arrowHidden{
    visibility: hidden;
}

#inputBox{
    height: 100%;
    width: 100%;
    font-size: 3vh;
    margin-left: 1vw;
    outline: none;
    border: none;;
    color: #4D4D4D;
    text-indent: 4vw;
    font-family: 'Noto Sans JP', sans-serif;
}

.item{
    height: 6vh;
    width: 50vw;
    font-size: 2.5vh;
    color: #4D4D4D;
    border-top-style: solid;
    border-width: 1px;
    border-top-color: #DDDDDD;
}

.itemCheck{
    margin-top: 1vh;
    margin-left: 1vh;
    height: 4vh;
    width: 4vh;
    display: inline-block;
}

.itemCheckHidden{
    opacity: 0;
}

.itemText{
    position: absolute;
    margin-top: 1.5vh;
    margin-left: 2vh;
    font-size: 3vh;
    height: fit-content;
    width: 40vh;
    display: inline-block;
    color: #4D4D4D;
    font-family: 'Noto Sans JP', sans-serif;
}

.itemTextCrossed{
    position: absolute;
    margin-top: 1.5vh;
    margin-left: 2vh;
    font-size: 3vh;
    height: fit-content;
    width: 40vh;
    display: inline-block;
    color: #BBBBBB;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: line-through;
}

.itemCross{
    position: absolute;
    right: 0%;
    height: 4vh;
    width: 4vh;
    margin-top: 1vh;
    margin-right: 1vh;
    display: inline-block;
}

#footer{
    height: 5vh;
    width: 50vw;
    border-top-style: solid;
    border-width: 1px;
    border-top-color: #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerText{
    color: #D0D0D0;
    font-size: 2.5vh;
}

.footerMiddle{
    display: flex;
    flex-direction: row;
}

.footerMiddleMiddle{
    margin-left: 1.4vh;
    margin-right: 1.4vh;
}

.footerLeft{
    margin-left: 0.7vh;
    color: #4D4D4D;
}

.footerRight{
    margin-right: 0.7vh;
}

.footerHidden{
    visibility: hidden;
}

.footerPressed{
    color:#4D4D4D;
}

#firstEnd{
    height: 1vh;
    width: 49vw;
    margin: auto;
    background-color: #FEFEFE;
    box-shadow: 0px 1px 1px 2px #E0E0E0;
    position: relative;
    z-index: -1;
}

#secondEnd{
    height: 1vh;
    width: 48vw;
    margin: auto;
    background-color: #FEFEFE;
    box-shadow: 0px 1px 1px 2px #E0E0E0;
    position: relative;
    z-index: -2;
}